# Gitignore #
#############

# Library files #
#################
cdsinfo.tag
tech.db

# Lock files #
##############
*.cdslck
*symbol.oa.cdslck.*
*sch.oa.cdslck.*

# Library files #
#################
.oalib
sch.oa-
symbol.oa-
